<!DOCTYPE html>
<html lang="es" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ejemplo AngularJS</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Controllers AngularJS</h1>
            <p class="lead">Ejemplo de usos de controllers en angular JS.</p>
        </div>


        <div class="alert alert-primary text-center" role="alert">
            Mismo controlador, mismas variables, diferentes resultados. Los scope son diferentes.
        </div>

        <div class="row">

            <!-- MainCtrl FIRST -->
            <div class="col-sm" ng-controller="MainCtrl">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">MainCtrl FIRST instance</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Introduzca un item" ng-model="itemsService.valueInput">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary" type="button" id="button-addon1" ng-click="addItem()">Add Item</button>
                    </div>
                </div>
                <li class="list-group-item" ng-repeat="item in items track by $index">
                    <span class="badge badge-primary badge-pill">{{ $index+1 }}</span> {{item}}
                </li>
            </div>

            <!-- MainCtrl SECOND -->
            <div class="col-sm" ng-controller="MainCtrl">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">MainCtrl SECOND instance</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Introduzca un item" ng-model="itemsService.valueInput">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary" type="button" id="button-addon1" ng-click="addItem()">Add Item</button>
                    </div>
                </div>
                <li class="list-group-item" ng-repeat="item in items track by $index">
                    <span class="badge badge-primary badge-pill">{{ $index+1 }}</span> {{item}}
                </li>
            </div>

        </div>

        <!-- Get data from service -->
        <div class="alert alert-primary text-center" role="alert">
            Diferente controlador, mismas variables, se utiliza un servicio para setear y obtener los datos.
        </div>

        <div class="row">

            <!-- MainCtrl THREE -->
            <div class="col-sm" ng-controller="MainCtrl">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">MainCtrl - GET SERVICE</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Introduzca un item" ng-model="itemsService.valueInput">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary" type="button" id="button-addon1" ng-click="itemsService.addItem()">Add Item</button>
                    </div>
                </div>
                <li class="list-group-item" ng-repeat="item in itemsService.items track by $index">
                    <span class="badge badge-primary badge-pill">{{ $index+1 }}</span> {{item}}
                </li>
            </div>

            <!-- SecondCtrl  -->
            <div class="col-sm" ng-controller="MainCtrl">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">SecondCtrl - GET SERVICE</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Introduzca un item" ng-model="itemsService.valueInput">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary" type="button" id="button-addon1" ng-click="itemsService.addItem()">Add Item</button>
                    </div>
                </div>
                <li class="list-group-item" ng-repeat="item in itemsService.items track by $index">
                    <span class="badge badge-primary badge-pill">{{ $index+1 }}</span> {{item}}
                </li>
            </div>

        </div>
    </div>

    <!--  -->
    <script src="js/app.js"></script>

    <!-- JS boostrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>